accelerate==1.6.0
ag2==0.9.10
agentenv==0.0.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiohttp-cors==0.8.1
aiosignal==1.3.2
airportsdata==20250224
alibabacloud-credentials==1.0.3
alibabacloud-credentials-api==1.0.0
alibabacloud-ecs20140526==7.2.5
alibabacloud-tea==0.4.3
alibabacloud-tea-openapi==0.4.1
alibabacloud_endpoint_util==0.0.4
alibabacloud_gateway_spi==0.0.3
alibabacloud_openapi_util==0.2.2
alibabacloud_tea_util==0.3.13
annotated-types==0.7.0
anthropic==0.50.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
APScheduler==3.11.1
astor==0.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.1.0
av==15.0.0
azure-core==1.36.0
azure-identity==1.25.1
azure-mgmt-compute==37.0.1
azure-mgmt-core==1.6.0
azure-mgmt-network==30.0.0
backcall==0.2.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.13.4
blake3==1.0.4
bleach==6.2.0
blinker==1.9.0
borb==3.0.2
boto3==1.39.10
botocore==1.39.10
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cli_exit_tools==1.2.7
click==8.1.8
cloudpickle==3.1.1
codetiming==1.4.0
colorful==0.5.6
compressed-tensors==0.9.3
contourpy==1.3.2
cryptography==44.0.3
cssselect==1.3.0
cuda-bindings==12.8.0
cuda-python==12.8.0
cupy-cuda12x==13.4.1
cycler==0.12.1
darabonba-core==1.0.4
dashscope==1.24.9
datasets==3.5.0
decorator==5.2.1
decord==0.6.0
defusedxml==0.7.1
Deprecated==1.2.18
depyf==0.18.0
desktop_env @ file:///path/to/rollouter
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docker-pycreds==0.4.0
docopt==0.6.2
dotenv==0.9.9
easyocr==1.7.2
einops==0.8.1
email_validator==2.2.0
et_xmlfile==2.0.0
evdev==1.9.2
exceptiongroup==1.2.2
executing==2.2.0
fabric==3.2.2
Farama-Notifications==0.0.4
fastapi==0.115.12
fastapi-cli==0.0.7
fastdtw==0.3.4
fastjsonschema==2.21.1
fastrlock==0.8.3
filelock==3.18.0
flashinfer-python==0.2.3
Flask==3.0.3
fonttools==4.60.1
formulas==1.3.3
frozenlist==1.6.0
fsspec==2024.12.0
func_timeout==4.3.5
gdown==5.2.0
gguf==0.16.3
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.186.0
google-auth==2.39.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.2.3
groq==0.33.0
grpcio==1.76.0
grpcio-status==1.71.2
gymnasium==1.2.0
h11==0.16.0
hf-xet==1.0.5
hf_transfer==0.1.9
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.30.2
hydra-core==1.3.2
idna==3.10
ImageHash==4.3.2
imageio==2.37.0
importlib_metadata==8.0.0
interegular==0.3.3
invoke==2.2.1
ipython==8.12.3
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.5.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.9
lark==1.2.2
lazy_loader==0.4
lib-detect-testenv==2.0.8
librosa==0.11.0
litellm==1.67.2
llguidance==0.7.19
llvmlite==0.44.0
lm-format-enforcer==0.10.11
loguru==0.7.3
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistral_common==1.5.4
mistune==3.1.3
modelscope==1.25.0
MouseInfo==0.1.3
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.0
msgspec==0.19.0
msrest==0.7.1
multidict==6.4.3
multiprocess==0.70.16
mutagen==1.47.0
mysql-connector-python==9.5.0
nanobind==2.7.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
numba==0.61.2
numpy==1.26.4
numpy-financial==1.0.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
nvitop==1.5.0
oauth2client==4.1.3
oauthlib==3.3.1
odfpy==1.4.1
omegaconf==2.3.0
openai==1.76.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.6
orjson==3.10.16
outlines==0.1.11
outlines_core==0.1.26
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
paramiko==4.0.0
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pdfminer.six==20250506
pdfplumber==0.11.7
peft==0.15.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.2.1
pip-tools==7.4.1
pipreqs==0.5.0
platformdirs==4.3.7
playwright==1.55.0
pooch==1.8.2
prettytable==3.16.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.4.0
pyacoustid==1.3.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pybind11==2.13.6
pyclipper==1.3.0.post6
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
PyDrive==1.3.1
pyecharts==2.0.8
pyee==13.0.0
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyJWT==2.10.1
pylatexenc==2.10
PyMsgBox==2.0.1
PyMuPDF==1.26.5
PyMySQL==1.1.1
PyNaCl==1.6.0
pynput==1.7.8
pynvml==12.0.0
pyparsing==3.2.5
pypdf==6.1.3
PyPDF2==3.0.1
pypdfium2==5.0.0
pyperclip==1.11.0
pyproject_hooks==1.2.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
python-pptx==1.0.2
python-xlib==0.33
python3-xlib==0.15
pytweening==1.2.0
pytz==2025.2
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==27.0.0
qwen-vl-utils==0.0.11
RapidFuzz==3.14.3
ray==2.43.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==3.0.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rich-toolkit==0.14.3
rpds-py==0.24.0
rsa==4.9.1
s3transfer==0.13.1
safetensors==0.5.3
schedula==1.5.70
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.2
sentencepiece==0.2.0
sentry-sdk==2.27.0
setproctitle==1.3.5
shapely==2.1.2
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.7
soxr==1.0.0
SQLAlchemy==2.0.41
stack-data==0.6.3
starlette==0.46.2
swankit==0.2.4
swanlab==0.6.7
sympy==1.13.1
tensordict==0.6.2
termcolor==3.2.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.9.0
tinycss2==1.4.0
tldextract==5.3.0
tokenizers==0.21.1
tomli==2.2.1
torch==2.6.0
torch_memory_saver==0.0.5
torchao==0.10.0
torchaudio==2.6.0
torchdata==0.11.0
torchvision==0.21.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.1
triton==3.2.0
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.4.0
uvicorn==0.34.2
uvloop==0.21.0
verl==0.3.0.post1
virtualenv==20.30.0
vllm==0.8.5.post1
wandb==0.19.10
watchfiles==1.0.5
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
wrapt_timeout_decorator==1.5.1
xformers==0.0.29.post2
xgrammar==0.1.18
xlsxwriter==3.2.9
xmltodict==1.0.2
xxhash==3.5.0
yarg==0.1.9
yarl==1.20.0
zipp==3.21.0
